<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<clear />
			</customHeaders>
		</httpProtocol>
		<applicationInitialization doAppInitAfterRestart="true">
			<add initializationPage="/" hostName="RespExtSrv" />
		</applicationInitialization>
	</system.webServer>
</configuration>